body
{
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1
{
    color: palevioletred;
}

.container 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .linear
{
    margin: 10px;
    width: 50vw;
    height: 50vh;
    background-image: url(images/linearGradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.container .radial
{
    margin: 10px;
    width: 50vw;
    height: 50vh;
    background-image: url(images/radialGradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

@media only screen and (max-width: 800px)
{
    .container
    {
        flex-direction: column;
    }
    .container .linear
    {
        width: 100vw;
    }
    .container .radial
    {
        width: 100vw;
    }
}